<?xml version="1.0" encoding="UTF-8"?>

<!-- <beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/spring5fs?characterEncoding=utf8&amp;serverTimezone=UTC"/>
		<property name="username" value="spring5"/>
		<property name="password" value="spring5"/>
	</bean>
	
	<bean id="memberDao" class="com.example.MemberDao">
		<constructor-arg ref="dataSource"/>
	</bean>
		
	<bean id="memoDao" class="com.example.MemoDao">
		<constructor-arg ref="dataSource"/>
	</bean>
	
	<bean id="memberRegSvc" class="com.example.MemberRegisterService">
		<constructor-arg ref="memberDao"/>
	</bean>	
	<bean id="memoRegSvc" class="com.example.MemoRegisterService">
		<constructor-arg ref="memoDao"/>
		
	</bean>
	
	<bean id="memberPrinter" class="com.example.MemberPrinter"/>	
	<bean id="memoPrinter" class="com.example.MemoPrinter"/>	
	<bean id="savePrinter" class="com.example.MemoSavePrinter"/>	
	<bean id="checkidpwd" class="com.example.checkIdPassword">
	<property name="memberDao" ref="memberDao"/>
		<constructor-arg ref="dataSource" />
		</bean>
	
	<!-- <bean id="listPrinter" class="com.example.MemberListPrinter">
		<constructor-arg ref="memberDao"/>
		<constructor-arg ref="memberPrinter"/>
	</bean>	 -->
	<!-- <bean id="memosavelistPrinter" class="com.example.MemoSaveListPrinter">
		<constructor-arg ref="memoDao"/>
		<constructor-arg ref="savePrinter"/>	
	</bean> -->
	
	<bean id="memolistPrinter" class="com.example.MemoListPrinter">
		<constructor-arg ref="memoDao"/>
	</bean>
	
	<bean id="lgn" class="com.example.MemberLogin">
		<property name="memberDao" ref="memberDao"/>
		<constructor-arg ref="dataSource" />
	</bean>
	
	<bean id="lgo" class="com.example.MemberLogout">
		<property name="memberDao" ref="memberDao"/>
		<constructor-arg ref="dataSource" />
	</bean>
	
	<bean id="infoPrinter" class="com.example.MemberInfoPrinter">
		<property name="memberDao" ref="memberDao"/>
		<property name="printer" ref="memberPrinter"/>
	</bean>	
	
	 <bean id="changeInfoSvc" class="com.example.ChangeInfoService">
		<property name="memberDao" ref="memberDao"/>
	</bean>	
	
	<!-- <bean id="changememoSvc" class="com.example.ChangeMemoService">
		<property name="memoDao" ref="memoDao"/>
	</bean> -->
	
	<bean id="memoCal" class="com.example.MemoCalendar">
		<property name="memoDao" ref="memoDao"/>
	</bean>
	
	<bean id="printCal" class="com.example.PrintCalendar"/>
	
	<bean id="memoSelectById" class="com.example.MemoSelectById">
		<property name="memoDao" ref="memoDao"/>
	</bean>
	
	<bean id="readFile" class="com.example.ReadFile"/>
</beans>
